<html>
<head>
    <link rel = "stylesheet"
    href="C:\Users\Stud2\Documents\Jeny\stile.css">
    {% load static%}

</head>
<body>
    <h1  class = 'test'>МИР СОВ</h1 >
    <h3>Каких сов вы любите больше?</h3>   
        <p><input type="radio" name="drink" value="rad1"> Маленьких сов<Br>
            <input type="radio" name="drink" value="rad2"> Больших сов<Br>
            <input type="radio" name="drink" value="rad3"> Всех сов</p>
    <p>Совообра́зные (лат. Strigiformes) — отряд, включающий более 200 видов птиц преимущественно средней величины (от мелких до крупных), распространённых во всех частях света, кроме Антарктики и некоторых островов. В отряде два современных семейства: совиные, или настоящие совы, а также сипуховые.</p>
    <p><img src = "{% %}" border="2" alt="Это сова" ></p>


</body>
</html>

