<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ginceramics</title>
</head>
<body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ginceramics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Shops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gallery</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for i in res%}
        <div class="col">
          <div class="card">
            <img src="{% static i.pct|cut:'myappp/static'%}">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col">
          <div class="card">
            <img src="https://academycrafts.ru/upload/medialibrary/a3e/vqxnzc2lnnalonxvkgag490zcgzqmesx/sovremennaya_keramika_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{Card title}}</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://academycrafts.ru/upload/medialibrary/410/rdnj0yfdiozwi8effbvzo0ny34r4cqhr/sovremennaya_keramika_14.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://static-cdn4-2.vigbo.tech/u35946/48073/blog/6678438/6455288/84675945/1000-96ee32e0e6bbb4703e2735157292e2e6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>